@{
    ViewBag.Title = "Index";
}

@section css {
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.5/leaflet.css" />
     <!--[if lte IE 8]>
         <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.5/leaflet.ie.css" />
     <![endif]-->
    
    <style>
        #map {
            height: 560px;
        }
    </style>
}

@section scripts {
    <script src="http://cdn.leafletjs.com/leaflet-0.5/leaflet.js"></script>
    <script>
        // create a map in the "map" div, set the view to a given place and zoom
        var map = L.map('map').setView([53.4791, -2.2457], 13);

        // add an OpenStreetMap tile layer
        L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
        }).addTo(map);

        function onEachFeature(feature, layer) {
            // does this feature have a property named popupContent?
            if (feature.properties && feature.properties.name) {
                layer.bindPopup(feature.properties.name);
            }
        }

        // Load all of the routes
        $.getJSON("http://api.citysdk.waag.org/admr.uk.gr.manchester/nodes?geom&osm::amenity=parking&per_page=1000", function(response) {
            if (response && response.results) {
                for (var i = response.results.length - 1; i >= 0; i--) {
                    var thisItem = response.results[i];

                    if (thisItem.name) {

                        var geojsonFeature = {
                            "type": "Feature",
                            "properties": {
                                "name": thisItem.name,
                                "cdk_id": thisItem.cdk_id,
                                "layer_id": thisItem.layer_id
                            },
                            "geometry": {
                                "type": thisItem.geom.type,
                                "coordinates": thisItem.geom.coordinates
                            }
                        };

                        L.geoJson(geojsonFeature, {
                            onEachFeature: onEachFeature
                        }).addTo(map);
                    }
                }
            }
        });

    // add a marker in the given location, attach some popup content to it and open the popup
        //L.marker([51.5, -0.09]).addTo(map)
        //    .bindPopup('A pretty CSS3 popup. <br> Easily customizable.')
        //    .openPopup();
    </script>
}

<h1>API Tests</h1>

<div id="map"></div>